.tabs__item {
    display: inline-block;
    vertical-align: baseline;
}

.tab__link {
    position: relative;
    display: inline-block;
    height: 60px;
    padding: 0 15px;
    font-size: 17px;
    line-height: 60px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    outline-color: #2fe5bf;
    cursor: pointer;
}

.tab__link--active {
    color: #000;
}

.tab__link--active::after {
    content: ' ';
    position: absolute;
    z-index: 0;
    bottom: 0;
    border-radius: 4px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffe200;
}