.icons-list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.icons-list__block {
    display: flex;
    align-items: center;
    min-height: 124px;
}

.icons-list__block .icon__img {
    align-self: center;
}

.icons-list__block--type--good-boys .icon__img {
    margin-right: 10px;
}

.icon {
    display: flex;
    height: 135px;
    align-items: center;
}

.icon__img {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.icon--type--chrome {
    position: relative;
    display: inline-flex;
    width: 120px;
    height: 135px;
    margin-right: 10px;
}

.icon__img--type--chrome {
    z-index: 3;
}

.icon__alt--type-chrome {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    font-size: 18px;
    font-weight: 500;
}

.icon__img--type--firefox {
    color: #dc6a18;
}

.icon__img--type--opera {
    color: #cd1010;
}

.icon__img--type--safari {
    color: #787878;
}

.icon__img--type--ie {
    color: #0579b0;
}

@media (max-width: 750px) {
    .icons-list {
        flex-direction: column;
    }

    .icons-list__block {
        flex-wrap: wrap;
    }
}