.progress-bar {
    position: relative;
    display: flex;
    width: 300px;
    height: 20px;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.29);
    background-color: #fff;
}

.progress-bar__inner {
    border-radius: 6px;
    background-image: -moz-linear-gradient( 90deg, rgb(40,191,20) 0%, rgb(139,218,26) 14%, rgb(40,191,20) 49%, rgb(171,255,88) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(40,191,20) 0%, rgb(139,218,26) 14%, rgb(40,191,20) 49%, rgb(171,255,88) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(40,191,20) 0%, rgb(139,218,26) 14%, rgb(40,191,20) 49%, rgb(171,255,88) 100%);
}

.progress-bar__text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
