@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YSText-Bold-Web.woff2') format('woff2'), url('YSText-Bold-Web.woff') format('woff');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YSText-Medium-Web.woff2') format('woff2'), url('YSText-Medium-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url('YSText-Regular-Web.woff2') format('woff2'), url('YSText-Regular-Web.woff') format('woff');
    font-weight: normal;
    font-style: normal
}