.main {
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto 30px;
    padding: 0 20px;
    box-sizing: border-box;
}

.main__header {
    background-color: #fff;
}

.main__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.command-window__description {
    padding: 20px;
    margin-top: 20px;
}

.commands-description {
    background-color: #fff;
}

.commands-description__list {
    padding-left: 20px;
    line-height: 1.7;
}