.text__title {
    max-width: 380px;
}

.text__content {
    column-count: 2;
    column-gap: 80px;
    column-width: 380px;
    font-size: 16px;
    line-height: 1.313;
    text-align: left;
}

.text__content p {
    text-indent: 15px;
}

.text__list {
    padding-left: 20px;
    list-style-type: none;
}

.text__list li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}

.text__list-item {
    display: inline-block;
}

.text__list-item--underline {
    border-bottom: 1px dashed;
}
